<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <permission
        android:name="${applicationId}.REVOKED_CONTENT"
        android:protectionLevel="signature" />

    <application>
        <provider
            android:name="app.autplay.testing.RevokedContentProvider"
            android:authorities="${applicationId}.revoked"
            android:exported="true"
            android:readPermission="${applicationId}.REVOKED_CONTENT" />
        <provider
            android:name="app.autplay.testing.ReadableAudioProvider"
            android:authorities="${applicationId}.readable"
            android:exported="true" />
    </application>
</manifest>
